
{% extends 'todo/base.html' %}
{%load crispy_forms_tags %}

{% block content %}

  


  <div class="row justify-content-center">
    <div class="col-md-auto">
      <h2>Sign Up</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-auto">
      {% if error %}
      <div class="alert alert-danger " role="alert">
        {{ error}}
      </div>
      {% endif %}
      <div class="form-group row ">
        <form method="post">
          {{ form|crispy }}
          {% csrf_token %}  
          <div class="button-div">
            <a><button type="submit" class="btn">Sign Up</button></a>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center" >
      Do you already have an account?<a href="{%url 'loginuser'%}">Login here</a>
    </div>
  </div>
      
  
  
  



{% endblock %}